<h1>Attach a new accessory</h1>
<div class="form">
    <h2>{{cube.name}}</h2>
    <img class="cube" src="{{cube.imgUrl}}">
    <form method="post">
        <label for="accessory">Accessories</label>
        <select id="accessory" name="accessory" />
        {{#each notAttached}}
        <option value="{{_id}}">{{name}}</option>
        {{/each }}
        </select>
        <input type="submit" value="Attach">
    </form>
    <a class="btn" href="/details/{{cube._id}}">Back</a>
</div>